---
---

main .flex {
    width: 100%;
    padding: 0;
    margin: 0;
    flex-flow: row-wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    vertical-align: top;

    .project {
        flex-basis: 300px;
        margin: auto;
        min-height: 150px;
        vertical-align: top;
    }
}

@import
    "base",
    "layout",
    "syntax-highlighting"
;
